.formControl{
    width: 100%;
    border-radius: 999px;
    padding: 8px 15px;
    background: none!important;
    color: black!important;
    border: 1px solid rgba(5, 5, 5, 0.353);
}

/* .button{
    padding: 0px 10px;
    border: none;
    background-color: #E6E6FA;
    border-radius: 5px;
} */