@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Sidebar (optional if not already styled) */
.sidebar {
  width: 250px;
  height: 100%;
  min-height: 100vh;
  background-color: #E6E6FA;
  font-family: "Inter", sans-serif;
}

/* Logo container */
.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
  padding-left: 8px;
}

/* Link wrapper */
.logo-link {
  display: inline-block;
}

/* Image control */
.logo img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 7px 15px;
    text-decoration: none;
    color: rgb(66, 41, 64);
    font-weight: 300;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-icon {
    width: 28px;
}

.sidebar-link:hover {
    background-color: white;
    color: #191970;
    transform: translateX(6px);
}